<template>
  <header class="header">
    <div class="header__logo">
      <a
        href="https://evrika.com"
        class="header__logo-img"
      >
        <svg
          width="200"
          height="36"
        >
          <svg
            id="logo-header"
            viewBox="0 0 200 36"
          >
            <path
              d="M29.7009 35.6143H5.0152C1.15806 35.6143 -0.513373 34.4571 0.000912555 30.3429L3.72948 5.4C3.85806 3.98571 4.50091 2.7 5.52948 1.67143C6.94377 0.642857 8.6152 0.128571 10.2866 0.257143H34.3295L31.2438 5.52857H13.2438C11.5723 5.52857 10.6723 6.04286 10.4152 7.71429L9.64377 13.2429L9.38663 14.7857H28.9295L25.7152 20.0571H8.74377L7.58663 28.1571C7.45806 28.6714 7.58663 29.1857 7.84377 29.7C8.6152 30.0857 9.38663 30.2143 10.2866 30.0857H32.9152L29.7009 35.6143ZM75.4723 0.385714L57.0866 32.1429C55.8009 34.5857 53.2295 36.1286 50.4009 36C47.4438 36 45.6438 34.7143 44.8723 32.1429L35.8723 0.385714H43.5866L50.6581 28.8C51.0438 29.9571 51.8152 29.7 52.3295 28.8L67.7581 0.385714H75.4723ZM81.0009 22.7571L79.0723 35.6143H71.8723L76.2438 6.42857C76.8866 2.31429 79.0723 0.385714 83.1866 0.385714H101.187C108.901 0.385714 110.572 4.5 109.544 11.3143C108.644 17.4857 106.201 22.8857 99.1295 22.8857H94.2438V23.1429L106.844 35.6143H97.8438L87.0438 24.1714C85.5009 22.5 84.2152 22.7571 81.0009 22.7571ZM81.6438 18C86.5295 18 91.5438 18 96.4295 18C97.9724 18.1286 99.5152 17.6143 100.544 16.4571C101.444 15.0429 101.958 13.3714 102.087 11.5714C102.472 9.12857 102.215 7.58571 101.444 6.68571C100.287 5.78571 99.0009 5.4 97.5866 5.65714H86.0152C84.4724 5.52857 83.1866 6.55714 83.0581 8.1V8.22857L81.6438 18ZM118.672 35.6143L122.529 9.51429L114.558 15.3L111.601 35.4857L118.672 35.6143ZM132.429 35.6143H125.229L130.372 0.385714H137.572L135.644 13.7571C135.772 13.6286 135.901 13.6286 135.901 13.5L152.229 0.385714H161.101L142.587 14.7857C141.558 15.4286 140.787 16.3286 140.401 17.3571C140.272 18.3857 140.787 19.4143 142.072 20.7L157.758 35.4857H148.758L135.129 21.9857C134.872 21.7286 134.615 21.4714 134.487 21.2143L132.429 35.6143ZM199.287 35.6143H191.829L189.258 26.7429H171.001L165.858 35.6143H158.272L177.172 3.98571C178.972 1.02857 180.515 0 183.987 0C187.072 0 188.615 0.9 189.644 3.98571L199.287 35.6143ZM188.101 21.9857L183.987 7.71429C183.73 6.68571 183.344 6.3 183.087 6.3C182.444 6.55714 182.058 7.07143 181.801 7.71429L173.444 21.9857H188.101Z"
              fill="#029AAD"
            />
            <path
              d="M122.786 5.91431L114.814 11.5715L116.486 0.385742H123.686L122.786 5.91431Z"
              fill="#FB791B"
            />
          </svg>
        </svg>
      </a>

      <span class="header__logo-subtext">Выбирай лучшее</span>
    </div>
    <div class="header__title">
      <h1 class="header__title h1">
        Оцените вашу покупку
      </h1>
    </div>
  </header>
</template>

<script>
export default {
  name: "BaseHeader",
};
</script>

<style lang="scss" scoped>
.header {
  max-width: 70%;
  padding: 1rem 2.5rem 1px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 1400px) {
    min-width: 100%;
    margin: 0;
    padding: 1.5rem 1.5rem 1px;
  }

  &__logo {
    display: flex;
    align-items: flex-start;

    a {
      max-width: 100%;

      @media (max-width: 420px) {
        max-width: 60%;
      }

      @media (max-width: 1080px) {
        max-width: 60%;
      }
    }

    svg {
      max-width: 100%;
    }

    &-subtext {
      max-width: 5.5555555556rem;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1.2;
      margin-top: -2px;

      @media (max-width: 1080px) {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 400;

    @media (max-width: 1080px) {
      font-size: 1.5rem;
    }

    @media (max-width: 420px) {
      font-size: 1rem;
    }
  }
}
</style>
