<template>
  <div class="quiz-question">
    <div class="quiz-question__text">
      <p>{{ question }}</p>
      <div class="quiz-question__text-error">
        <slot name="is-error" />
      </div>
    </div>
    <div class="quiz-question__input">
      <div class="quiz__bool">
        <div
          class="quiz__bool-radio"
          @click="$emit('makeYes')"
        >
          <input
            v-bind="$attrs"
            :id="inputIdYes"
            type="radio"
          >
          <label :for="inputIdYes">Да</label>
        </div>

        <div
          class="quiz__bool-radio"
          @click="$emit('makeNo')"
        >
          <input
            :id="inputIdNo"
            type="radio"
            v-bind="$attrs"
          >
          <label :for="inputIdNo">Нет</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "QuizQuestionBoolean",
  inheritAttrs: false,
  props: {
    question: String,
    inputIdYes: String,
    inputIdNo: String,
  },
};
</script>
