<template>
  <div class="quiz-question">
    <div class="quiz-question__text">
      <p>{{ question }}</p>
      <span>Оценка от 1 до 5, где 1 «очень плохо», а 5 «очень хорошо»</span>
      <div class="quiz-question__text-error">
        <slot name="is-error" />
      </div>
    </div>
    <div class="quiz-question__input">
      <div class="quiz__rating">
        <div
          v-for="rating in ratings"
          :key="rating"
          class="quiz__rating-radio"
          :class="{
            'is-selected': score >= rating && score !== null,
          }"
        >
          <input
            :id="inputId + rating"
            type="radio"
            :name="inputName"
            @click="$emit('setRating', rating)"
          >
          <label :for="inputId + rating">{{ rating }}</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "QuizQuestionRating",
  inheritAttrs: false,
  props: {
    question: String,
    ratings: Array,
    score: Number,
    inputId: String,
    inputName: String,
  },
};
</script>
