<template>
  <base-form />
</template>

<script>
import BaseForm from "./components/BaseForm.vue";

export default {
  name: "App",
  components: {
    BaseForm,
  },
};
</script>

<style lang="scss">
@import "@/sass/_global.scss";
</style>
